<!DOCTYPE html>
<html lang="en">

<head>
    <title>RandomAPI :: View API</title>
    <link rel="stylesheet" href="css/general.css">
</head>

<body>
    <div align="center">
        <div id="note">
            <%=messages%>
        </div>
        <h1>View APIs</h1>
        <hr width="50%">
        <%=apis%>
        <% include ../../snippets/nav %>
    </div>
    <script src="js/favicon.min.js"></script>
</body>

</html>