<% include ../snippets/header %>
<body>
    <div align="center">
        <div id="note">
            <%=messages%>
        </div>
        <h1>New API</h1>
        <hr width="50%">
        <% include ../../snippets/nav %>
        <form action="" method="POST">
        <input type="text" name="name" placeholder="API Name" autofocus required><br><br>
        <textarea name="code" rows="5" cols="75"></textarea><br>
        <input type="submit" value="Add new API">
        </form>
    </div>
</body>

</html>