<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="container main">
    <div class="row">
      <div class="two columns">
        <% include ../../snippets/subnav %>
      </div>
      <div class="ten columns">
        <div id="note">
          <%=messages%>
        </div>
        <h3>New API</h3>
        <form action="" method="POST">
        <input type="text" name="name" placeholder="API Name" autofocus required autocomplete="off"><br>
        Generator version: <select name="generator">
        <% versions.forEach(function(generator) { %>
          <option value="<%= generator.id %>"><%= generator.version %></option>
        <% }); %>
        </select><br><br>
        <input type="submit" value="Add new API">
        </form>
      </div>
    </div>
  </div>
  <% include ../../snippets/footer %>
</body>
</html>
