<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/subnav %>
    </div>
    <div class="ten columns">
      <h3>New API</h3>
      <p><span id='quotaResults' class='<%= session.tier.apis !== 0 && session.user.apis > session.tier.apis ? "red" : "green" %>'><%= session.user.apis %></span> of <span id='tierResults' class="green"><%= session.tier.apis === 0 ? 'unlimited' : session.tier.apis %></span> APIs used.</p>
      <form action="" method="POST">
        <span class='red' id='limits'>Accepted chars: a-zA-Z0-9 _-.+[]{}()</span><br>
        <input type="text" id="limitsInput" name="name" maxlength='32' placeholder="API Name" autofocus required autocomplete="off"><br>
        <input type="submit" id="submit" value="Add new API">
      </form>
    </div>
  </div>
  <div class="ads">
    <% include ../../snippets/ads %>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/nameLimits.js"></script>
</body>
</html>
