<% include ../snippets/header %>
<body>
    <div align="center">
        <div id="note">
            <%=messages%>
        </div>
        <h1>New List</h1>
        <hr width="50%">
        <% include ../../snippets/nav %>
        <form enctype="multipart/form-data" action="" method="POST">
        <input type="text" name="name" placeholder="List Name" autofocus required><br><br>
        Choose a file to upload: <input name="file" type="file" required><br />
        <input type="submit" value="Upload File" />
        </form>
    </div>
</body>

</html>