<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="container main">
    <div class="row">
      <div class="two columns">
        <% include ../../snippets/subnav %>
      </div>
      <div class="ten columns">
        <h3>New List</h3>
        <form enctype="multipart/form-data" action="" method="POST">
        <input type="text" name="name" placeholder="List Name" autofocus required autocomplete="off"><br><br>
        Choose a file to upload: <input name="file" type="file" required><br />
        <input type="submit" value="Upload File" />
        </form>
      </div>
    </div>
  </div>
  <% include ../../snippets/footer %>
</body>
</html>
