<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/subnav %>
    </div>
    <div class="ten columns">
      <h3>New Snippet</h3>
      <p><span id='quotaResults' class='<%= session.tier.snippets !== 0 && session.user.snippets > session.tier.snippets ? "red" : "green" %>'><%= session.user.snippets %></span> of <span id='tierResults' class="green"><%= session.tier.snippets === 0 ? 'unlimited' : session.tier.snippets %></span> snippets used.</p>
      <form action="" method="POST">
      <span class='red' id='limits'>Only 32 chars max please! Accepted chars: a-zA-Z0-9 _-.+[]{}()</span><br>
      <input type="text" id="limitsInput" name="name" placeholder="Snippet Name" autofocus required autocomplete="off"><br>
      <input type="submit" value="Add new Snippet">
      </form>
    </div>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/nameLimits.js"></script>
</body>
</html>
