<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/subnav %>
    </div>
    <div class="ten columns">
      <h3 id='mobileSubNavMenu'>New Snippet <span id='mobileSubNavArrow' class=""></span></h3>
      <% include ../../snippets/mobilesubnav %>
      <p><span id='quotaResults' class='<%= session.tier.snippets !== 0 && session.user.snippets > session.tier.snippets ? "red" : "green" %>'><%= session.user.snippets %></span> of <span id='tierResults' class="green"><%= session.tier.snippets === 0 ? 'unlimited' : session.tier.snippets %></span> snippets used.</p>
      <form action="" method="POST">
        <span class='red' id='limits'>Accepted chars: a-zA-Z0-9 _-.+[]{}()</span><br>
        <input type="text" id="limitsInput" name="name" maxlength='32' placeholder="Snippet Name" autofocus required autocomplete="off"><br>
        <span class='red' id='tagLimits'>32 chars per tag, accepted chars: a-zA-Z0-9 _-.+[]{}()</span><br>
        <input type="text" id="tagsInput" name="tags" maxlength='255' placeholder="Snippet Tags" autocomplete="off"><br>
        <textarea cols='40' name='description' placeholder='Description' maxlength='65535'></textarea><br>
        <input type="submit" id="submit" value="Add new Snippet">
      </form>
    </div>
  </div>
  <div class="ads">
    <% include ../../snippets/ads %>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/nameLimits.js"></script>
</body>
</html>
