<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form enctype="multipart/form-data" action="/" method="POST">
    Choose a file to upload: <input name="file" type="file" /><br />
    <input type="submit" value="Upload File" />
    </form>
  </body>
</html>
