html {
  height: 100%;
  width: 100%;
}

#navbar {
  display: block;
  margin: 15px auto 0px auto;
  padding: 0px 25px 50px 25px;
  max-width: 1200px;
}

#navbar h3 {
  float: left;
  font-size: 24pt;
}

#navbar ul {
  overflow: hidden;
  float: right;
  list-style-type: none;
  margin-top: 7px;
  padding: 0;
  font-size: 16pt;
}

#navbar ul li {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 760px) {
  #navbar {
    display: none;
  }
}

.nav ul .selected {
  font-weight: bold;
  color: #0CB863;
}

.signupBadge {
  border: 1px solid;
  border-radius: 20px;
  border-color: #0CB863;
}

.signupBadge:hover {
  background-color: #0CB863;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  margin-top: 10px;
  clear: both;
  max-width: 1200px;
  padding: 10px;
}

section.hero {
  text-align: center;
}

section.hero #subtitle {
  margin: auto;
  width: 640px;
  font-size: 16pt;
}

section.login {
  margin: auto;
  width: 300px;
}
section.login input[type='text'],
section.login input[type='password'] {
  border: 1px solid;
  width: 300px;
}

section.login #loginButton {
  float: left;
  width: 140px;
  padding: 0px;
  background-color: #0CB863;
  color: white;
}

section.login #loginButton:hover {
  background-color: #09A459;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

section.login #forgotButton {
  float: left;
  margin-left: 10px;
  width: 140px;
  padding: 0px;
}

section.login h4 {
  float: left;
  margin-left: 0px;
}

section.login .flash {
  clear: both;
  color: red;
}

section.register {
  margin: auto;
  width: 450px;
  text-align: center;
}
section.register .title {
  text-align: left;
  margin-left: 75px
}
section.register input[type='text'],
section.register input[type='password'] {
  border: 1px solid;
  width: 300px;
}

section.register #registerButton {
  display: block;
  margin : 0 auto;
  width: 140px;
  padding: 0px;
  background-color: #0CB863;
  color: white;
}

section.register #registerButton:hover {
  background-color: #09A459;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

section.login h4 {
  float: left;
  margin-left: 0px;
}

section.login .flash {
  clear: both;
  color: red;
}

.green {
  color: #0CB863;
}

.docGreen {
  color: #0CB863;
  font-weight: bold;
}

.red {
  color: red;
}

#subnav ul {
  overflow: hidden;
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
  font-size: 14pt;
}

#subnav ul .selected {
  font-weight: bold;
  color: #0CB863;
}

#subnav ul .seperator {
  height: 1px;
}

.documentationMain {
  margin-left: 22%;
}

.documentationMain table {
  table-layout: fixed;
}

#documentationNav {
  position: fixed;
}

@media screen and (max-width: 1000px) {
  #documentationNav {
    display: none;
  }
  .documentationMain, .container   {
    width: 100% !important;
    margin: auto;
  }
  .pricingTable {
    margin: auto;
  }
}

#documentationNav ul {
  overflow: hidden;
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
  font-size: 14pt;
}

#documentationNav ul .selected {
  font-weight: bold;
  color: #0CB863;
}

#documentationNav ul .seperator {
  height: 1px;
}

.caption {
  display: block;
  text-align: center;
}

.subtitle, .title {
  clear: both;
}

.price {
  font-size: 20pt;
}

.subprice {
  font-size: 10pt;
}

.subpricing {
  font-size: 10pt;
}

#upgradeSubscription {
  background: #1275ff;
  color: white;
  background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  position: relative;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.greenButton {
  background-color: #0CB863 !important;
  color: white !important;
}

.redButton {
  background-color: #9E0909 !important;
  color: white !important;
}
