#preview {
  margin-top: 5px;
  position: relative;
  float: right;
  width: 49%;
  height: 500px;
  border: solid #CECECE 1px !important;
}

#results {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  height: 425px;
}

#aceEditor {
  margin-bottom: 1.5rem;
  float: left;
  width: 50%;
  margin-top: 5px;
  height: 500px;
}

#submit {
  background-color: #0CB863;
  color: white;
}

#submit:hover {
  background-color: #09A459;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#lintButton:hover {
  background-color: #EFEFEF;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#clearLog {
  position: absolute;
  margin: 5px 0 0 10px;
}

#clearLog:hover {
  background-color: #EFEFEF;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#charCount {

}

.rename {
  margin-top: -30px;
  margin-left: 150px;
  height: 30px;
}

.rename input {
  margin-right: 10px;
}

.info {
  margin-top: -15px;
  width: 60%;
  height: 20px;
}

#publish {
  background-color: #4BC3DB;
  color: white;
}

#publish:hover {
  background-color: #43B0C4;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
