h1#title {
    text-align: center;
}

.editContainer {
  margin: auto;
  width: 80%;
}

.editor {

}

.preview {
  display: block;
  float: left;
  position: relative;
}

#aceEditor {
  width: 100%;
  height: 500px;
}

.table th, td {
   text-align: center;
}