#title {
  text-align: center;
  font-weight: bold;
  color: #333;
}

.pricingTable {
  width: 750px;
  height: auto;
  position: relative;
  margin: auto;
}

.disclaimers {
  width: 750px;
  height: auto;
  position: relative;
  margin: 10px auto 50px auto;
}

#disclaimer {
  font-size: 10pt;
}

.card {
  background-color: white;
  width: 250px;
  height: 450px;
  display: inline-block;
  margin-right: -4px;
  box-shadow: 0px 0px 5px #888888;
}

.card:last-child {
  position: absolute;
}

.card .title {
  color: #0CB863;
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
}

.card .pricing {
  background-color: #222;
  color: white;
  text-align: center;
  font-size: 20pt;
  font-family: Helvetica;
}

.card .info {
  padding-left: 25px;
}

.card .info ul {
  list-style-type: none;
  margin-top: 10px;
  color: #444;
}

.card .info #main {
  font-weight: bold;
  color: #000;
}

.card .info #main.x {
  color: red !important;
}

.card .info #main.check {
  color: #0CB863 !important;
}

#upgradeButton {
  position: absolute;
  bottom: 0px;
  margin-left: 40px;
  text-align: center;
}
