
ul.tab-nav {
    display: inline-block;
    width: 90%;
    list-style: none;
    border-bottom: 1px solid #bbb;
}

ul.tab-nav li {
    display: inline;
}

ul.tab-nav li a.button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
    border-bottom: none;
}

ul.tab-nav li a.active.button {
    border-bottom: 1px solid #fff;
}

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}
