<div id="documentationNav">
  <ul>
    <li><a href="documentation#general">General</a></li>
    <li><a href="documentation#APIObject">&nbsp;&nbsp;&nbsp;&nbsp;API Object</a></li>
    <li><a href="documentation#variables">&nbsp;&nbsp;&nbsp;&nbsp;Variables</a></li>
    <li class='seperator'></li>
    <li><a href="documentation#availableFunctions">Available Functions</a></li>
  </ul>
</div>
