<div id="documentationNav">
  <ul>
    <li><h5>Contents</h5></li>
    <li><a href="documentation#general">General</a></li>
    <li><a href="documentation#APIObject">&nbsp;&nbsp;&nbsp;&nbsp;API Object</a></li>
    <li><a href="documentation#variables">&nbsp;&nbsp;&nbsp;&nbsp;Variables</a></li>
    <li><a href="documentation#sandbox">&nbsp;&nbsp;&nbsp;&nbsp;Sandbox</a></li>
    <li class='seperator'></li>
    <li><a href="documentation#availableFunctions">Available functions</a></li>
    <li><a href="documentation#availableFunctionsRandom">&nbsp;&nbsp;&nbsp;&nbsp;Random</a></li>
    <li><a href="documentation#availableFunctionsList">&nbsp;&nbsp;&nbsp;&nbsp;List</a></li>
    <li><a href="documentation#availableFunctionsHash">&nbsp;&nbsp;&nbsp;&nbsp;Hash</a></li>
    <li><a href="documentation#availableFunctionsTimestamp">&nbsp;&nbsp;&nbsp;&nbsp;Timestamp</a></li>
    <li><a href="documentation#globalRequire">Global Requires</a></li>
    <li><a href="documentation#snippets">Snippets</a></li>
    <li><a href="documentation#callingAPIs">Calling APIs</a></li>
    <li><a href="documentation#options">&nbsp;&nbsp;&nbsp;&nbsp;Options</a></li>
    <li><a href="documentation#errors">&nbsp;&nbsp;&nbsp;&nbsp;Errors</a></li>
  </ul>
</div>
