<div id="documentationNav">
  <ul>
    <li><h5>Contents</h5></li>
    <li><a href="documentation#general">General</a></li>
    <li><a href="documentation#APIObject">&nbsp;&nbsp;&nbsp;&nbsp;API Object</a></li>
    <li><a href="documentation#variables">&nbsp;&nbsp;&nbsp;&nbsp;Variables</a></li>
    <li class='seperator'></li>
    <li><a href="documentation#availableFunctions">Available functions</a></li>
    <li><a href="documentation#callingAPIs">Calling APIs</a></li>
    <li><a href="documentation#options">&nbsp;&nbsp;&nbsp;&nbsp;Options</a></li>
  </ul>
</div>
