<meta charset="utf-8">
<title>RandomAPI :: <%=title%></title>
<base href="<%=basehref%>">
<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/font.css" type="text/css">

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/pricingTable.css">

<link rel="icon" type="image/png" href="img/favicon.png">

<script src="js/jquery.js"></script>
<script src="js/noty/packaged/jquery.noty.packaged.min.js"></script>
<script src="js/general.js"></script>
<message hidden><%=messages%></message>
