<!DOCTYPE html>
<html lang="en">

<head>
    <title>RandomAPI :: <%=title%></title>
    <base href="<%=basehref%>">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
