<div id="mobileSubNav" class="invisible">
  <div id="dropdown" class="dropdown-content">
    <a href="/settings">General</a>
    <a href="settings/subscription">Subscription</a>
    <a href="settings/offline">Offline RandomAPI</a>
  </div>
</div>
