<% if (session.loggedin === true) { %>
  <h3>
    <a href="home">Home</a> | <a href="new/api">New API</a> | <a href="view/api">View APIs</a> | <a href="new/list">New List</a> | <a href="view/list">View Lists</a> | <a href="logout">Logout</a>
  </h3>
<% } else { %>
  <h3>
    <a href="home">Home</a> | <a href="login">Login</a> | <a href="register">Register</a>
  </h3>
<% } %>
