<div id="navbar" class="scroll">
  <a href="/"><h3>RandomAPI</h3></a>
  <div class="nav">
    <ul>
      <a href="pricing">Pricing</a>
      <a href="documentation"><li>Documentation</li></a>
      <a href="about"><li>About</li></a>
      <a href="login"><li>Login</li></a>
      <a href="register"><li class='signupBadge'>Sign Up</li></a>
    </ul>
  </div>
</div>