<% include ../../snippets/header %>
<body>
  <% include ../../snippets/navbar %>
  <div class="container main">
    <div class="row">
      <div class="two columns">
        <% include ../../snippets/subnav %>
      </div>
      <div class="ten columns">
        <div id="note">
          <%=messages%>
        </div>
        <h3>Editing API <%=api.ref%></h3>
      <div class="row" style="margin: auto; width: 70%; margin-top: 50px;">
        <pre id="aceEditor" name="code"><%=api.code%></pre>
        <input type="submit" id="submit" value="Save">
        <button onClick="lintCode()">Lint Code</button>
        <pre id="results" style="white-space: pre-wrap;">
preview thing
        </pre>
      </div>
    </div>
  </div>
</body>
</html>