<% include ../../snippets/header %>
<body>
  <server hidden><%=socket%></server>
  <% include ../../snippets/navbar %>
  <div class="container main editor">
    <div class="row">
      <div class="two columns">
        <% include ../../snippets/subnav %>
      </div>
      <div class="ten columns">
        <div id="note">
          <%=messages%>
        </div>
        <h3>Editing API <%=api.ref%></h3>
        <pre id="aceEditor" name="code"><%=api.code%></pre>
        <div id="preview">
          <button onClick="lintCode()">Lint Code</button>
          <pre id="results">
  preview thing
          </pre>
        </div>
        <input type="submit" id="submit" value="Save">
      </div>
    </div>
  </div>
  <script src="js/socket.io.min.js"></script>
  <script src="js/ace/ace.js" type="text/javascript"></script>
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/realtimeEditor.js"></script>
</body>
</html>