<% include ../../snippets/header %>
<body>
    <div align="center">
        <div id="note">
            <%=messages%>
        </div>
        <h1>Editing API <%=api.ref%></h1>
        <hr width="50%">
        <% include ../../snippets/nav %>
    </div>
    <div class="row" style="margin: auto; width: 70%; margin-top: 50px;">
      <div class="col-md-6">
        <pre id="aceEditor" name="code"><%=api.code%></pre>
        <input type="submit" id="submit" value="Save">
      </div>
      <div class="col-md-6">
        preview thing
      </div>
    </div>

    <script src="js/ace/ace.js" type="text/javascript"></script>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script>
        var editor = ace.edit("aceEditor");
        editor.setTheme("ace/theme/twilight");
        editor.session.setMode("ace/mode/javascript");
        editor.focus();
        $("#submit").click(function() {
          $.post('', {code: editor.getValue()}, function(url) {
            window.location.replace(url);
          });
        });
    </script>
</body>

</html>
