<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/subnav %>
    </div>
    <div class="ten columns">
      <h3>Edit API <%=api.name%> [<%=api.ref%>]</h3>
      <form action="" method="POST">
        <span class='red' id='limits'>Accepted chars: a-zA-Z0-9 _-.+[]{}()</span><br>
        Name<br>
        <input type="text" id="limitsInput" name="rename" maxlength='32' value="<%=api.name%>" placeholder="<%=api.name%>" autofocus required autocomplete="off"><br>
        <input type="submit" id="submit" value="Update API">
      </form>
    </div>
  </div>
  <div class="ads">
    <% include ../../snippets/ads %>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/nameLimits.js"></script>
</body>
</html>
