<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
  <link rel="stylesheet" href="css/highlight/monokai-sublime.css  ">
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="container main">
    <div class="row">
      <div class="three columns">
        <% include ../snippets/documentationSubnav %>
      </div>
      <div class="nine columns" style="margin-left: 22%;">
        <div id="note">
          <%=messages%>
        </div>
        <h2>Documentation</h2>
        <h5>Learn how to code your API</h5>

        <a name="general"><h4 class='title'>General</h4></a>
        <p>If you know Javascript, then coding an API is a piece of cake! If not, it's fairly easy to pick up and is very similar to other programming languages. Check out <a href="http://eloquentjavascript.net/" class='green' target="_blank">Eloquent Javascript</a> if you'd like a brief intro to the language and then check back here, we'll wait. :)</p>
        <p>The reason you need to know Javascript is because APIs are coded in Javascript! No learning a new language and its fancy syntax is required!</p>

        <a name="APIObject"><h5 class='subtitle'>API Object</h5></a>
        <p>In RandomAPI, all of your <b>fields</b> are attached to the <b>api</b> object. A <b>field</b> is a Javascript property that holds the data that you generate and the <b>api</b> object is the central variable that RandomAPI will end up pushing into a results array.</p>
        <div class="row">
          <div class="six columns">
            <span class='caption'>API Code</span>
            <pre><code class="javascript">api.age      = random.numeric(1, 25);
api.dogYears = api.age * 7;</code></pre>
          </div>
          <div class="six columns">
            <span class='caption'>Result</span>
            <pre><code>{"results":[{"age":20,"dogYears":140}]}
            </code></pre>
          </div>
        </div>

        <a name="variables"><h5 class='subtitle'>Variables and functions and comments, oh my!</h5></a>
        <p>Since APIs are coded in Javascript, you are free to do whatever you like in order to generate your data. This includes creating functions, variables, comments, etc. Just make sure that whatever data you generate gets attached to the api object or else it won't be available in your results.
        <div class="row">
          <div class="six columns">
            <span class='caption'>API Code</span>
            <pre><code class="javascript">// This is a comment that isn't evaluated
/*
    Multiline comments work as well!
*/
const fullName = "Billy Builder"; // Not attached to api object
var middleName = "The";
let age   = 5;
api.age   = age; // Attached to api object
api.phone = phoneNum(); // Calling user defined function

function phoneNum (format) {
  format = format || "(xxx) xxx-xxxx";
  return String(format).split('').map(digit => {
    return digit === 'x' ? random.numeric(0, 9) : digit;
  }).join('');
}</code></pre>
          </div>
          <div class="six columns">
            <span class='caption'>Result</span>
            <pre><code>{
  "results": [
    {
      "age": 5,
      "phone": "(336) 580-1131"
    }
  ]
}
            </code></pre>
          </div>
        </div>

        <a name="availableFunctions"><h4 class='title'>Available functions</h4></a>

        <a name="callingAPIs"><h4 class='title'>Calling APIs</h4></a>
        <p>APIs can be accessed through via the <a href="https://randomapi.com/api"><span class='green'>https://randomapi.com/api</span></a> endpoint.</p>
        <p>At a minimum, the endpoint requires a <b>key</b> and <b>ref</b> value. Key would be your API key and ref is the Ref ID of the API you want to access which can be found on the <a href="view/api" target="_blank"><span class='green'>View APIs</span></a> page.</p>
        <p>APIs can be called in two different ways:</p>
        <pre><code class="html">https://randomapi.com/api/<span class='green'>123abc</span>?key=<span class='green'>ABCD-1234-EFGH-5678</span>      // Ref value is implied
https://randomapi.com/api/?key=<span class='green'>ABCD-1234-EFGH-5678</span>&ref=<span class='green'>123abc</span> // Ref value is explicitly stated</code></pre>

        <a name="options"><h5 class='subtitle'>Options</h5></a>
        <p>You can add extra parameters to your API call to transform your data into different formats, specify how many results you'd like to generate, specify a seed, and even communicate with your api through the <span class="green">getVar</span> function.</p>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Default value</th>
              <th>Example value</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>key</td>
              <td><i>null</i></td>
              <td>ABCD-1234-EFGH-5678</td>
              <td>(<span class='red'>required</span>) Your API Key</td>
            </tr>
            <tr>
              <td>ref</td>
              <td><i>null</i></td>
              <td>123abc</td>
              <td>(<span class='red'>required</span>) The Ref ID of the API that you want to access</td>
            </tr>
            <tr>
              <td>fmt</td>
              <td>json</td>
              <td>json, pretty, csv, xml, yaml</td>
              <td>Format your data to your liking</td>
            </tr>
            <tr>
              <td>results</td>
              <td>10</td>
              <td>20</td>
              <td>How many results would you like to have generated</td>
            </tr>
            <tr>
              <td>seed</td>
              <td><i>Random 16 character hex string</i></td>
              <td>huskiesarecute</td>
              <td>Generate the same results</td>
            </tr>
            <tr>
              <td>page</td>
              <td>1</td>
              <td>3</td>
              <td>Pagination through results</td>
            </tr>
            <tr>
              <td>noinfo</td>
              <td><i>null</i></td>
              <td><i>No value required</i></td>
              <td>Only show the results. Don't show the info property</td>
            </tr>
            <tr>
              <td>dl</td>
              <td><i>null</i></td>
              <td><i>No value required</i></td>
              <td>Download the file with proper headers and file extension</td>
            </tr>
            <tr>
              <td>callback</td>
              <td><i>null</i></td>
              <td>fetchdata</td>
              <td>For JSONP requests. Only available with json format</td>
            </tr>
            <tr>
              <td><i>Custom Parameter</i></td>
              <td><i>null</i></td>
              <td>mode=3</td>
              <td>You can specify custom parameters and then access them in your API using the <span class="green">getVar</span> function.</td>
            </tr>
          </tbody>
        </table>
        <pre><code class="html">https://randomapi.com/api/123abc?key=ABCD-1234-EFGH-5678&results=<span class='green'>25</span>&seed=<span class='green'>huskiesarecute</span>&page=<span class='green'>3</span>
https://randomapi.com/api/?key=ABCD-1234-EFGH-5678&ref=123abc&callback=<span class='green'>fetchData</span>
https://randomapi.com/api/?key=ABCD-1234-EFGH-5678&ref=123abc&fmt=<span class='green'>xml</span>&<span class='green'>dl</span>
https://randomapi.com/api/?key=ABCD-1234-EFGH-5678&ref=123abc&fmt=<span class='green'>pretty</span>&<span class='green'>noinfo</span></code></pre>
      </div>
    </div>
  </div>
  <% include ../snippets/footer %>
  <script src="js/highlight.pack.js"></script>
  <script src="js/documentation.js"></script>
</body>
</html>
