<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
  <link rel="stylesheet" href="css/demoEditor.css">
</head>
<body>
  <div class="main">
    <section class="hero">
      <h3>Uh oh, something has gone wrong.</h3>
      <h5 id="subtitle">Please try your request again later. If the problem still persists, please send us a tweet <a href="http://twitter.com/randomapi" class="green">@RandomAPI</a>. Thanks!</h5>
    </section>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
