<% include ../snippets/header %>
<body>
    <div align="center">
        <div id="note">
            <%=messages%>
        </div>
        <h1>Home</h1>
        <hr width="50%">
        <% include ../snippets/nav %>
        You api key is <%= session.user.key %>
    </div>
</body>

</html>