<!DOCTYPE html>
<html lang="en">

<head>
    <title>RandomAPI :: Home</title>
    <link rel="stylesheet" href="css/general.css">
</head>

<body>
    <div align="center">
        <div id="note">
            <%=messages%>
        </div>
        <h1>Home</h1>
        <span>Logged in as #<%=session.user.id%> <%=session.user.username%></span>
        <hr width="50%">
        <% include ../snippets/nav %>
    </div>
    <script src="js/favicon.min.js"></script>
</body>

</html>