<!DOCTYPE html>
<html lang="en">

<head>
    <title>RandomAPI :: Index</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div align="center">
        <div id="note"></div>
        <h1>RandomAPI</h1>
        <hr width="50%">
        <% include ../snippets/nav %>
    </div>
</body>

</html>