<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
  <link rel="stylesheet" href="css/demoEditor.css">
</head>
<body>
  <server hidden><%=socket%></server>
  <% include ../snippets/navbar %>
  <div class="main">
    <section class="hero">
      <h3>Simplify your testing</h3>
      <h5 id="subtitle">Easily generate mock data for testing your application</h5>
    </section>
    <section class="tryitout">
      <h4>Try it out!</h4>
      <pre id="aceEditor" name="code">// Custom user snippet that generates credit card numbers
const cc = require('keith/Credit Card Generator/2');

let age   = random.numeric(18, 65);
api.age   = age;        // Attached to implicit api object
api.phone = phoneNum(); // Calling user defined function

api.favoriteColor = list([
    'red', 'orange', 'yellow',
    'green', 'blue', 'indigo',
    'violet'
]);

api.visa = String(cc('VISA')).match(/.{4}/g).join('-');

function phoneNum(format) {
  format = format || "(xxx) xxx-xxxx";
  return String(format).split('').map(digit => {
    return digit === 'x' ? random.numeric(0, 9) : digit;
  }).join('');
}</pre>
      <div id="preview">
        <button id="lintButtonHome" onClick="lintCode()">Generate result</button>
        <pre id="results">
  Loading...
        </pre>
      </div>
    </section>
  </div>
  <div class="ads">
    <% include ../snippets/ads %>
  </div>
  <section class="triplesec">
    <div class="main">
      <div class="one-third column tripleSection">
        <h4 class="tripleTitle">Simple</h4>
        <p class="tripleInfo">If you know Javascript, you know how to code APIs. APIs are written in <a class='green' href="http://vanilla-js.com/" target="_blank">Vanilla Javascript</a>. No learning a new language and its fancy syntax required! Check out the <a class='green' href="documentation" target="_blank">documentation</a> to learn how to start making your own APIs!</p>
      </div>
      <div class="one-third column tripleSection">
        <h4 class="tripleTitle">Powerful</h4>
        <p class="tripleInfo">You have complete control over the output of your API. Whether your API has complicated logic and conditions or takes advantage of a published snippet, the output can be custom tailored to your liking thanks to Javascript.</p>
      </div>
      <div class="one-third column tripleSection">
        <h4 class="tripleTitle">Sharing</h4>
        <p class="tripleInfo">Did you create an awesome piece of code that you think would be helpful for others to use in their APIs? We have <a class='green' href="documentation#snippets" target="_blank">snippets</a>! Think of it like NPM modules for APIs. Check out our Snippet browser <a class='green' href="search" target="_blank">here</a> and search for credit card for example.</p>
      </div>
    </div>
  </section>
  <% include ../snippets/footer %>
  <script src="js/socket.io.min.js"></script>
  <script src="js/ace/ace.js"></script>
  <script src="js/demoEditor.js"></script>
</body>
</html>
