<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
  <link rel="stylesheet" href="css/demoEditor.css">
</head>
<body>
  <server hidden><%=socket%></server>
  <% include ../snippets/navbar %>
  <div class="main">
    <section class="hero">
      <h3>Simplify your testing</h3>
      <h5 id="subtitle">Easily generate fake data for populating your mockups and testing your applications</h5>
      <input type="button" id="homepageSignupButton" value="Sign up for free!">
    </section>
    <section class="tryitout">
      <h4>Try it out!<button id="newExample" onClick="newExample()">Show new example</button></h4>
      <pre id="aceEditor" name="code"></pre>
      <div id="preview">
        <button id="lintButtonHome" onClick="lintCode()">Generate result</button>
        <pre id="results">
  Loading...
        </pre>
      </div>
    </section>
  </div>
  <section class="sextuplesec">
    <div class="main">
      <div class="tripleSection">
        <img class="sextupleImg" src="img/js_logo.svg">
        <h4 class="tripleTitle">Simple</h4>
        <p class="tripleInfo">APIs are coded in Javascript and are very easy to make! Check out the <a class='green' href="documentation">documentation</a> or follow our API walkthrough to learn how to start making your own APIs!<br><a class='green' href="http://blog.randomapi.com/geocaching-api-demo/"><span class="readmore">> Geocaching API walkthrough</a></p>
      </div>
      <div class="tripleSection">
        <img class="sextupleImg" src="img/speedometer.svg">
        <h4 class="tripleTitle">Fast & Powerful</h4>
        <p class="tripleInfo">With user snippets & libraries like <a class='green' href="https://www.npmjs.com/package/Faker">Faker</a> along with a complete programming language, you have full control over the output of your API.<br><a class='green' href="search"><span class="readmore">> Browse Snippet Library</a></p>
      </div>
      <div class="tripleSection">
        <img class="sextupleImg" src="img/price.svg">
        <h4 class="tripleTitle">Pricing</h4>
        <p class="tripleInfo">All of our pricing plans are affordable and yours for life. Pay once, own it forever!<br><a class='green' href="pricing"><span class="readmore">> View Pricing</a></p>
      </div>
    </div>
  </section>
  <section class="sextuplesec">
    <div class="main">
      <div class="tripleSection">
        <img class="sextupleImg" src="img/offline.svg">
        <h4 class="tripleTitle">Offline Generator</h4>
        <p class="tripleInfo">No internet? No problem! Thanks to the <a class='green' href="https://npmjs.com/package/randomapi">RandomAPI</a> NPM module, you can use your own machine to generate your APIs locally.<br><a class='green' href="http://blog.randomapi.com/offline-randomapi/"><span class="readmore">> About Offline RandomAPI</span></a></p>
      </div>
      <div class="tripleSection">
        <img class="sextupleImg" src="img/convenient.svg">
        <h4 class="tripleTitle">Convenient</h4>
        <p class="tripleInfo">An easy to use implementation, clean interface, and RESTful API make RandomAPI simple to use in all your applications.<br><a class='green' href="documentation#callingAPIs"><span class="readmore">> Calling your APIs</span></a></p>
      </div>
      <div class="tripleSection">
        <img class="sextupleImg" src="img/sharing.svg">
        <h4 class="tripleTitle">Sharing</h4>
        <p class="tripleInfo">Snippets are shared pieces of code that make up a big part of RandomAPI. If you've made a function that helps generate data, publish it for others to use!<br><a class='green' href="documentation#snippets"><span class="readmore">> About Snippets</a></p>
      </div>
    </div>
  </section>
  <section class="why">
    <div class="main">
      <h4>How can RandomAPI help my testing?</h4>
      <h5 id="subtitle">Rather than "John Doe", "User 1", "User 2", etc., you can generate random data that is custom tailored to your app that gives it a more realistic preview to how your product will look in a production environment.</h5>
      <button id="exampleAPI" onClick="example(); return false;">See the source code of this API</button>&nbsp;
      <button id="callExample" onClick="window.open('http://beta.randomapi.com/api/6de6abfedb24f889e0b5f675edc50deb?fmt=raw&sole');">Call this API directly</button>
    </div>
    <div class="main example">
      <div class="before">
        <h5>Before</h5>
        <img src="img/before.png">
      </div>
      <div class="after">
        <h5>After</h5>
        <img src="img/after.gif">
      </div>
    </div>
  </section>
  <section class="turnthis">
  </section>
  <% include ../snippets/footer %>
  <script src="js/socket.io.min.js"></script>
  <script src="js/ace/ace.js"></script>
  <script src="js/demoEditor.js"></script>
</body>
</html>
