<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
  <link rel="stylesheet" href="css/demoEditor.css">
</head>
<body>
  <server hidden><%=socket%></server>
  <% include ../snippets/navbar %>
  <div class="container main">
    <section class="hero">
      <h3>Simplify your testing</h3>
      <h5 id="subtitle">Easily generate mock data for testing your application</h5>
    </section>
    <div class="ten columns">
        <h3>Try it out!</h3>
        <pre id="aceEditor" name="code">blah</pre>
        <div id="preview">
          <button id="lintButton" onClick="lintCode()">Test API</button>
          <pre id="results">
  Loading...
          </pre>
        </div>
      </div>
    </div>
  </div>
  <% include ../snippets/footer %>
  <script src="js/socket.io.min.js"></script>
  <script src="js/ace/ace.js"></script>
  <script src="js/demoEditor.js"></script>
</body>
</html>
