<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
  <link rel="stylesheet" href="css/demoEditor.css">
</head>
<body>
  <server hidden><%=socket%></server>
  <% include ../snippets/navbar %>
  <div class="main">
    <section class="hero">
      <h3>Simplify your testing</h3>
      <h5 id="subtitle">Easily generate mock data for testing your application</h5>
      <input type="button" id="homepageSignupButton" value="Sign up for free!">
    </section>
    <section class="tryitout">
      <h4>Try it out!</h4>
      <pre id="aceEditor" name="code"><%
var samples = [
`// Example of a Random Customer Generator
const faker = require('faker'); // Faker.js

api.customer  = {
    id:    random.special(4, 8),
    name:  faker.name.findName(),
    phone: faker.phone.phoneNumber("(###) ###-####"),
    address: {
        street: faker.address.streetAddress(),
        city: faker.address.city(),
        state: faker.address.state(),
    }
};`,
`// Example of a random user purchase invoice
const moment = require('moment'); // moment.js to format dates

// Generate fake credit card numbers
const cc = require('keith/Credit Card Generator/2');

// User defined code to generate invoice numbers
api.invoiceID = require('keith/invoice number generator/1')();
api.date = moment().format('LLL');

// Inline list of products to choose from
let products = {
    milk: 229, eggs: 100, bread: 243, butter: 200,
    juice: 369, cereal: 312, poptarts: 371, sprite: 1077,
    mentos: 330, beer: 945, apple: 75, avocado: 85
};

api.itemsPurchased = random.numeric(1, 10);
api.items = [];

let total = 0;
for (let i = 0; i < api.itemsPurchased; i++) {
    let item = list(products);
    api.items.push(item);
    total += products[item];
}
api.items = api.items.toString();
api.card  = cc('VISA').toString().match(/.{4}/g).join('-');
api.total = \`$\${total/100}\`;`,
`// Example of a Random User Generator
const faker = require('faker'); // Faker.js library

// Custom user snippet to generate formatted phone numbers
const phonenum = require('keith/phonenum/1');

api.company  = faker.company.companyName();
api.username = faker.internet.userName();
api.password = faker.internet.password();
api.role     = list(['guest', 'user', 'administrator']);
api.phone    = phonenum();
api.cell     = phonenum(\`(\${list(['214', '469', '972'])}) xxx-xxxx\`);`];%><%=samples[Math.floor(Math.random()*3)]%></pre>
      <div id="preview">
        <button id="lintButtonHome" onClick="lintCode()">Generate result</button>
        <pre id="results">
  Loading...
        </pre>
      </div>
    </section>
  </div>
  <div class="ads">
    <% include ../snippets/ads %>
  </div>
  <section class="triplesec">
    <div class="main">
      <div class="one-third column tripleSection">
        <h4 class="tripleTitle">Simple</h4>
        <p class="tripleInfo">If you know Javascript, you know how to code APIs. APIs are written in <a class='green' href="http://vanilla-js.com/" target="_blank">Vanilla Javascript</a>. No learning a new language and its fancy syntax required! Check out the <a class='green' href="documentation" target="_blank">documentation</a> to learn how to start making your own APIs!</p>
      </div>
      <div class="one-third column tripleSection">
        <h4 class="tripleTitle">Powerful</h4>
        <p class="tripleInfo">You have complete control over the output of your API. Whether your API has complicated logic and conditions or takes advantage of a published snippet, the output can be custom tailored to your liking thanks to Javascript.</p>
      </div>
      <div class="one-third column tripleSection">
        <h4 class="tripleTitle">Sharing</h4>
        <p class="tripleInfo">Did you create an awesome piece of code that you think would be helpful for others to use in their APIs? We have <a class='green' href="documentation#snippets" target="_blank">snippets</a>! Think of it like NPM modules for APIs.<!-- Check out our Snippet browser <a class='green' href="search" target="_blank">here</a> and search for credit card for example.--></p>
      </div>
    </div>
  </section>
  <% include ../snippets/footer %>
  <script src="js/socket.io.min.js"></script>
  <script src="js/ace/ace.js"></script>
  <script src="js/demoEditor.js"></script>
</body>
</html>
