<!DOCTYPE html>
<html lang="en">

<head>
    <title>RandomAPI :: Login</title>
    <link rel="stylesheet" href="css/general.css">
</head>

<body>
    <div align="center">
        <div id="note">
            <%=messages%>
        </div>
        <h1>Login</h1>
        <hr width="50%">
        <% include ../snippets/nav %>
        <form action="" method="POST">
            <input type="text" name="username" placeholder="username" autofocus>
            <br>
            <input type="password" name="password" placeholder="password">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
    <script src="js/favicon.min.js"></script>
</body>

</html>