<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="main">
    <section class="login">
      <h4>Login</h4>
      <form method="POST">
        <input type="text" name="username" placeholder="username" autofocus required>
        <br>
        <input type="password" name="password" placeholder="password" required>
        <br>
        <input type="submit" id="loginButton" value="Login">
        <input type="button" id="signupButton" value="Sign Up">
      </form>
    </section>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
