<% include ../snippets/header %>
<body>
  <% include ../snippets/navbar %>
  <div align="center">
    <div id="note">
      <%=messages%>
    </div>
    <div class="container main">
      <section class="login">
        <h4>Login</h4>
        <form method="POST">
          <input type="text" name="username" placeholder="username" autofocus>
          <br>
          <input type="password" name="password" placeholder="password">
          <br>
          <input type="submit" id="loginButton" value="Login">
          <input type="button" id="forgotButton" value="Forgot Password">
        </form>
      </section>
    </div>
  </div>
</body>
</html>