<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>

  <div class="container main">
    <section class="hero">
      <h3>Pricing</h3>
      <h5 id="subtitle">3 Simple Tiers</h5>
    </section>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
