<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="container main">
    <section class="register">
      <h4>Sign Up</h4>
      <div class="flash">
        <%=messages%>
      </div>
      <form method="POST">
        <input type="text" name="username" placeholder="username" autofocus required>
        <br>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" id="registerButton" value="Submit">
      </form>
    </section>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
