<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../snippets/statisticsSubnav %>
    </div>
    <div class="ten columns">
      <h3>Statistics</h3>
    </div>
  </div>
  <% include ../snippets/footer %>
  <script src="js/moment.min.js"></script>
</body>
</html>
