<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="main">
    <section class="hero">
      <h3>Choose from our 3 simple plans</h3>
      <h5 id="subtitle"></h5>
    </section>
    <div class="pricingTable">
      <div class="card">
        <div class="title" style="color:#012212">Free</div>
        <div class="pricing">$0.00<span class='subpricing'> / month</span></div>
        <div class="info">
          <ul>
            <li><span id="main">1,000</span> daily results</li>
            <li><span id="main">10</span> results / request</li>
            <li><span id="main">256 KB</span> list data</li>
            <li><span id="main">1</span> API</li>
            <li><span id="main">5</span> snippets</li>
            <li><span id="main" class="x">X</span> ads disabled</li>
            <li><span id="main" class="x">X</span> Offline APIs</li>
            <li><span id="main">1</span> Generator <sup>1</sup></li>
            <li><span id="main">60/120/5</span> Cache settings <sup>2</sup></li>
            <li id='upgradeButton'>
              <button type="submit" class="stripe-button-el disabled" style="visibility: visible;"><span style="display: block; min-height: 30px;">Current Plan</span></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="title" style="color: #056335">Standard</div>
        <div class="pricing">$2.50<span class='subpricing'> / month</span></div>
        <div class="info">
          <ul>
            <li><span id="main">100,000</span> daily results</li>
            <li><span id="main">500</span> results / request</li>
            <li><span id="main">5 MB</span> list data</li>
            <li><span id="main">10</span> APIs</li>
            <li><span id="main">25</span> snippets</li>
            <li><span id="main" class="check">✓</span> ads disabled</li>
            <li><span id="main" class="x">X</span> Offline APIs</li>
            <li><span id="main">3</span> Generators <sup>1</sup></li>
            <li><span id="main">120/240/10</span> Cache settings <sup>2</sup></li>
            <li id='upgradeButton'>
              <form action="charge" method="POST">
                <script 
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%=publishableKey%>"
                  data-amount="250"
                  data-name="RandomAPI"
                  data-description="RandomAPI Standard Tier (Beta)"
                  data-image="https://s3.amazonaws.com/stripe-uploads/acct_102bx12y2KIUsl34merchant-icon-499777-logo.png"
                  data-locale="auto"
                  data-label="Upgrade"
                  data-zip-code="true">
                </script>
                <input type="hidden" name="plan" value="standard_beta">
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="title" style="color: #0CB863">Premium</div>
        <div class="pricing">$5.00<span class='subpricing'> / month</span></div>
        <div class="info">
          <ul>
            <li><span id="main">unlimited</span> daily results</li>
            <li><span id="main">2,500</span> results / request</li>
            <li><span id="main">25 MB</span> list data</li>
            <li><span id="main">unlimited</span> APIs</li>
            <li><span id="main">unlimited</span> snippets</li>
            <li><span id="main" class="check">✓</span> ads disabled</li>
            <li><span id="main" class="check">✓</span> Offline APIs <sup>Coming soon</sup></li>
            <li><span id="main">5</span> Generators <sup>1</sup></li>
            <li><span id="main">240/480/20</span> Cache settings <sup>2</sup></li>
            <li id='upgradeButton'>
              <form action="/charge" method="POST">
                <script 
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%=publishableKey%>"
                  data-amount="500"
                  data-name="RandomAPI"
                  data-description="RandomAPI Premium Tier (Beta)"
                  data-image="https://s3.amazonaws.com/stripe-uploads/acct_102bx12y2KIUsl34merchant-icon-499777-logo.png"
                  data-locale="auto"
                  data-label="Upgrade"
                  data-zip-code="true">
                </script>
                <input type="hidden" name="plan" value="premium_beta">
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ads">
      <% include ../snippets/ads %>
    </div>
    <div class="disclaimers">
      <p><br><b><span style="color: orange">Beta users</span></b>: These are the current prices and perks. If you purchase a subscription during the beta period, it'll carry over with the <b>same monthly charge</b> when RandomAPI. Beta prices will most likely increase and perk values will <b>definitely</b> increase in the final version.</p>
      <hr>
      Here be techno jargon<br>
      <sup>1</sup>: <span id='disclaimer'>API requests are queued into the generator with the least number of tasks. If there are many users of a tier currently using a generator, it may take a longer time for your results to be generated. Example: 100 tasks spread out over 5 generators gives each generator a load of 20 tasks while 100 tasks all in 1 generator would be significantly slower to receive results for since only 1 generator is doing all of the work. <b>tl;dr</b>: bigger numbers are better.</span><br><br>
      <sup>2</sup>: <span id='disclaimer'>If your API uses Lists/Snippets, their contents are cached in memory in order to speed up access times. 60/120/5 means 60 seconds TTL in local cache, 120 seconds TTL in redis cache, and the Generator has 5 MB of local cache. When you make your intial API request, it has to read in all of the List/Snippet data into memory from disk. This is a timely process, so caching solves this problem by making your list data available in memory until the list hasn't been accessed for X seconds. At that point, your list/snippet will be removed from the local cache and any request after that will either have to check the redis cache, or worst case, reread the data from disk again. <b>tl;dr</b>: bigger numbers are better.</span>
    </div>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
