<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="container main">
    <section class="hero">
      <h3>Choose from our 3 simple plans</h3>
      <h5 id="subtitle"></h5>
    </section>
    <div class="row">
      <div class="container">
        <div class="pricingTable">
          <div class="card">
            <div class="title" style="color:#012212">Free</div>
            <div class="pricing">$0.00<span class='subpricing'> / month</span></div>
            <div class="info">
              <ul>
                <li><span id="main">1,000</span> daily results</li>
                <li><span id="main">10</span> results / request</li>
                <li><span id="main">256 KB</span> list data</li>
                <li><span id="main">1</span> API</li>
                <li id='upgradeButton'>
                  <button type="submit" class="stripe-button-el disabled" style="visibility: visible;"><span style="display: block; min-height: 30px;">Current Plan</span></button>
                </li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="title" style="color: #056335">Standard</div>
            <div class="pricing">$2.50<span class='subpricing'> / month</span></div>
            <div class="info">
              <ul>
                <li><span id="main">100,000</span> daily results</li>
                <li><span id="main">500</span> results / request</li>
                <li><span id="main">5 MB</span> list data</li>
                <li><span id="main">10</span> APIs</li>
                <li id='upgradeButton'>
                  <form action="charge" method="POST">
                    <script 
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_Kz9PkZwjRRlC4g6vMqzIRHGk"
                      data-amount="250"
                      data-name="RandomAPI"
                      data-description="RandomAPI Standard Tier (Beta)"
                      data-image="https://s3.amazonaws.com/stripe-uploads/acct_102bx12y2KIUsl34merchant-icon-499777-logo.png"
                      data-locale="auto"
                      data-label="Upgrade"
                      data-zip-code="true">
                    </script>
                    <input type="hidden" name="plan" value="standard_beta">
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="title" style="color: #0CB863">Premium</div>
            <div class="pricing">$5.00<span class='subpricing'> / month</span></div>
            <div class="info">
              <ul>
                <li><span id="main">unlimited</span> daily results</li>
                <li><span id="main">2,500</span> results / request</li>
                <li><span id="main">25 MB</span> list data</li>
                <li><span id="main">unlimited</span> APIs</li>
                <li id='upgradeButton'>
                  <form action="/charge" method="POST">
                    <script 
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_Kz9PkZwjRRlC4g6vMqzIRHGk"
                      data-amount="500"
                      data-name="RandomAPI"
                      data-description="RandomAPI Premium Tier (Beta)"
                      data-image="https://s3.amazonaws.com/stripe-uploads/acct_102bx12y2KIUsl34merchant-icon-499777-logo.png"
                      data-locale="auto"
                      data-label="Upgrade"
                      data-zip-code="true">
                    </script>
                    <input type="hidden" name="plan" value="premium_beta">
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <p><br><b><span style="color: orange">Beta users</span></b>: These are the current prices and perks. If you purchase a subscription during the beta period, it'll carry over when RandomAPI releases with the same monthly charge. Beta prices will most likely increase and perk values will <b>definitely</b> increase in the final version.<br><br><b>Note</b>: If you would like to cancel or downgrade your subscription, please manage your subscription settings at <a href="settings/subscription" class='green'>Settings > Subscription</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
