<% include ../snippets/header %>
<body>
  <% include ../snippets/navbar %>

  <div class="container main">
    <section class="hero">
      <h3>Simplify your testing</h3>
      <h5 id="subtitle">Easily generate mock data for testing your application</h5>
    </section>
  </div>
</body>
</html>